body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.location-section {
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#locationData, #thingSpeakData {
    margin-bottom: 20px;
}

#locationData h2, #thingSpeakData h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

#locationData p, #thingSpeakData p {
    margin: 5px 0;
}

#locationData span, #thingSpeakData span {
    font-weight: bold;
}

#thingSpeakChart {
    text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
    .location-section {
        padding: 10px;
    }
}
